OCEAN__PORT__CLIENT_ID=<PORT_CLIENT_ID>
OCEAN__PORT__CLIENT_SECRET=<PORT_CLIENT_SECRET>
OCEAN__PORT__BASE_URL=https://api.getport.io
OCEAN__EVENT_LISTENER={"type": "POLLING"}
OCEAN__INTEGRATION__IDENTIFIER=orca
# Poner en false si los blueprints los gestiona Terraform
OCEAN__INITIALIZE_PORT_RESOURCES=true
OCEAN__INTEGRATION__CONFIG__ORCA_API_URL=https://api.orcasecurity.io
OCEAN__INTEGRATION__CONFIG__ORCA_API_TOKEN=<TOKEN>
